*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #00be9c;
  color: #fff;
  font-family: Oswald, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-shadow: 0.3vw 0.5vw rgba(0, 0, 0, 0.3);
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: Bangers;
  font-size: 5vw;
  font-weight: 100;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

li {
  background: rgba(0, 0, 0, 0.3);
  border: 0.15em solid rgba(0, 0, 0, 0.3);
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
  font-family: Bangers;
  font-size: 5vw;
  margin: 0.5em;
  padding: 0.3em;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  width: 20vw;
}
li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.selected {
  background: #94a8cc;
}

.correct {
  background: #83c057;
}

.wrong {
  background: #d44248;
  cursor: not-allowed;
}

p {
  font-size: 3vw;
}

.blinking {
  -webkit-animation: blink 0.8s ease-out infinite;
          animation: blink 0.8s ease-out infinite;
  display: inline-block;
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
