{% extends "base.html" %}

{% block title %}BrainUP{% endblock %}

{% block styles %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>BrainUp</title>
  
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Bangers|Oswald:300'>

      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/math.css') }}">
	  
</head>

<body>
  
<h3> <span class="question"></span><span>= </span><span class="blinking">?</span></h3>
<ul class="answers">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<p>Total points: <span class="points"></span></p>
  
    <script  type="text/javascript" src="static\js\math.js" ></script>

</body>
</html>
{%endblock%}