{%extends "base.html"%}

{% block title %}BrainPower{% endblock%}

{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}

{% block page_content %}
    <div id="quiz"></div>
    <button id ="submit">Submit Quiz</button>
    <div id="results"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src={{ url_for('static', filename='js/jquery-3.2.1.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap.js') }}></script>
<script>

(function() {
  function buildQuiz() {
    const output = [];

    myQuestions.forEach((currentQuestion, questionNumber) => {

      const answers = [];

      for (choice in currentQuestion.answers) {

        answers.push(
          `<label>
            <input type="radio" name="question${questionNumber}" value="${currentQuestion.answers[choice]}">
            ${currentQuestion.answers[choice]}
          </label>`
        );
      }

      // add the whole question+answers to the output
      output.push(
        `<div class="question"> ${currentQuestion.question} </div>
        <div class="answers"> ${answers.join("")} </div>`
      );
    });

    quizContainer.innerHTML = output.join("");
  }

  function showResults() {
    const answerContainers = quizContainer.querySelectorAll(".answers");
    let numCorrect = 0;

    myQuestions.forEach((currentQuestion, questionNumber) => {

      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;


      if (userAnswer === currentQuestion.correctAnswer) {

        numCorrect++;
        answerContainers[questionNumber].style.color = "lightgreen";
      } else {
        answerContainers[questionNumber].style.color = "red";
      }
    });

    resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
  }

  const quizContainer = document.getElementById("quiz");
  const resultsContainer = document.getElementById("results");
  const submitButton = document.getElementById("submit");
  const myQuestions = {{ myQuestions|tojson|safe}};

  buildQuiz();

  submitButton.addEventListener("click", showResults);
})();

</script>
{% endblock %}

